p, li
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:0in;
	text-indent:.25in;
	font-size:12.0pt;
	font-family:"Gill Sans";
	font-weight: lighter;
	color:black;
	line-height: 2.2;}
