@font-face {
	font-family: 'DINPro';
	src: url('/fonts/DINPro-Black.eot');
	src: local('DINPro'), url('/fonts/DINPro-Black.woff') format('woff'), url('/fonts/DINPro-Black.ttf') format('truetype'), url('/fonts/DINPro-Black.svg') format('svg');
	font-weight: bolder;
	font-style: normal;
}

@font-face {
	font-family: 'DINPro';
	src: url('/fonts/DINPro-Bold.eot');
	src: local('DINPro'), url('/fonts/DINPro-Bold.woff') format('woff'), url('/fonts/DINPro-Bold.ttf') format('truetype'), url('/fonts/DINPro-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DINPro';
	src: url('/fonts/DINPro-Light.eot');
	src: local('DINPro'), url('/fonts/DINPro-Light.woff') format('woff'), url('/fonts/DINPro-Light.ttf') format('truetype'), url('/fonts/DINPro-Light.svg') format('svg');
	font-weight: lighter;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_DINPro-Medium';
	src: url('/fonts/DINPro-Medium.eot');
	src: local('DINPro'), url('/fonts/DINPro-Medium.woff') format('woff'), url('/fonts/DINPro-Medium.ttf') format('truetype'), url('/fonts/DINPro-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
@font-face {
	font-family: 'DINPro';
	src: url('/fonts/DINPro-Regular.eot');
	src: local('DINPro'), url('/fonts/DINPro-Regular.woff') format('woff'), url('/fonts/DINPro-Regular.ttf') format('truetype'), url('/fonts/DINPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/
