<!-- _l: sidebar -->
<div id="sidebar">
  <p>
    <strong>Graham Christensen</strong> is a home-brew scientist, hardware guy,
    and a ruby/php developer. He loves to dabble in everything he can get
    himself into. Lately that means the <strong>system administration</strong>
    and <strong>automation</strong>.
  </p>

  <p>
    Graham currently works at <a href="https://www.zippykid.com/">ZippyKid</a>,
    working to automate the infrastructure, and to make your sites "zippier."
    If you like what I talk about, I want to hire you. If you disagree or are
    offended, they are mine, not my employer's.
  </p>

  <p>
    <a href="/feed" class="rss">Subscribe to RSS</a>
  </p>

  <p>
    <strong>E-Mail:</strong> graham<span>@</span>grahamc.com<br />
    <strong>Phone:</strong> 407-670-9980
    </p>

  <p>
    <strong>GitHub:</strong> <a href="http://github.com/grahamc">github.com/grahamc</a><br />
    <strong>Twitter:</strong> <a href="http://twitter.com/grhmc">@grhmc</a>
  </p>
</div>

