<!-- _l: sidebar -->
<div id="sidebar">
  <p>
    <strong>Graham Christensen</strong> is a home-brew scientist, hardware guy,
    and a developer. He loves to dabble in everything he can get himself into.
    Lately that means the <strong>Hardware Design</strong>
    and <strong>automation</strong>.
  </p>

  <p>
    <a href="/feed" class="rss">Subscribe to RSS</a>
  </p>

  <p>
    <strong>E-Mail:</strong> graham<span>@</span>grahamc.com<br />
    <strong>Phone:</strong> 407-670-9980
    </p>

  <p>
    <strong>GitHub:</strong> <a href="http://github.com/grahamc">github.com/grahamc</a><br />
    <strong>Twitter:</strong> <a href="http://twitter.com/grhmc">@grhmc</a>
  </p>
</div>

