---
ribbon: false
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{{ page.title }}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
		<meta name="robots" content="index, follow" /> 
		<meta name="description" content="Symfony development, hardware, and everything else, too." /> 
		<meta name="keywords" content="graham christensen, exploration, innovation, symfony, arduino" /> 
		
		<link rel="stylesheet" href="/css/reset.css" type="text/css" />
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<link rel="stylesheet" href="/css/trac.css" type="text/css" />
		
		<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed" />
	</head>

	<body>
		{% if page.ribbon %}
		<div class="ribbon">
			<a href="http://leakmirror.org">Support Julian Assange and WikiLeaks</a>
		</div>
		{% endif %}
		<div id="container">
			<div id="masthead">
				<h1><a href="/">Graham Christensen</a></h1>
				<p>Symfony development, hardware, and everything else too.</p>
			</div>

			{{ content }}
			
			<div id="footer">
			</div>
			
			<div id="copyright">
				<p>© 2010 Graham Christensen. All Rights Reserved.</p>
			</div>
		</div>
	</body>
</html>
