---
ribbon: false
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- _l: base -->
        <title>{% if page.title %}{{page.title}} - {% endif %}Graham Christensen</title>
        <meta name="google-site-verification" content="HvOMOXBefNLvJCYEGHm9ulUQsdgB59PYXjlsQe5H844" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="robots" content="index, follow" />
        <meta name="description" content="Symfony development, hardware, and everything else, too." />
        <meta name="keywords" content="graham christensen, exploration, innovation, symfony, arduino" />

        <link rel="stylesheet" href="/css/cmp_blog.css" type="text/css" />

        <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed" />
    </head>

    <body>
        {% if page.ribbon %}
        <div class="ribbon">
            <a href="http://leakmirror.org">Support Julian Assange and WikiLeaks</a>
        </div>
        {% endif %}
        <div id="container">
            <div id="masthead">
                <h1><a href="/">Graham Christensen</a></h1>
                <p>Symfony development, hardware, and everything else too.</p>
            </div>

            {{ content }}

            <div id="footer">
                <p>&copy; 2011 Graham Christensen. All Rights Reserved. <a href="http://github.com/grahamc/grahamc.com">Fork me on GitHub</a></p>
            </div>
        </div>
        <script src="//static.getclicky.com/js" type="text/javascript"></script>
        <script type="text/javascript">try{ clicky.init(66367456); }catch(e){}</script>
    </body>
</html>
