<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <!-- _l: code -->
	<head>
		<title>{{ page.title }}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
		<meta name="robots" content="index, follow" /> 
		<meta name="description" content="Symfony development, hardware, and everything else, too." /> 
		<meta name="keywords" content="graham christensen, exploration, innovation, symfony, arduino" /> 
		
		<link rel="stylesheet" href="/css/reset.css" type="text/css" />
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<link rel="stylesheet" href="/css/trac.css" type="text/css" />
		
		<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed" />
	</head>

	<body>
	    <div id="container">
            <div id="content">
                <div class="entry">
                	<h2>{{ page.title }}</h2>
                	{{ content }}
                	<div class="completer">&copy; Graham Christenesn</div>
                	{% if page.disqus_id %}

                    <div id="comments"></div>
                    <script type="text/javascript">

                	var disqus_identifier = "{{ page.url|escape }}";
                	var disqus_identifier = '{{ page.disqus_id }}';
                	var disqus_domain = 'disqus.com';
                	var disqus_shortname = 'grahamc';
                	var disqus_title = "Forcing SSL and HTTPS with Redirects on Symfony 1.2";

                        var disqus_container_id = 'comments';
                        var disqus_developer = 1;
                        (function() {
                            var dsq = document.createElement('script');
                            dsq.type = 'text/javascript';
                            dsq.async = true;
                            dsq.src = 'http://grahamc.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=grahamc">comments powered by Disqus.</a></noscript>
                	{% endif %}
                </div>
            </div>
        </div>
    </body>
</html>