---
layout: base
title: Graham Christensen
---
<!-- Begin Sidebar -->
<div id="sidebar">
	<p><strong>Graham Christensen</strong> is a home-brew
		scientist, hardware	guy, and a symfony developer. He
		loves to dabble in everything he can get himself into.
		Lately that means the <strong>Arduino platform</strong>
		and <strong>restaurants</strong>.</p>
</div>
<!-- End Sidebar -->

<!-- Begin Content -->
<div id="content">
	{% if paginator.posts %}
    	{% for post in paginator.posts %}
			{% include normal_page.html %}
    	{% endfor %}
	{% else %}
		{{ content }}
	{% endif %}

	{% if paginator.next_page or paginator.previous_page %}
	<div class="navigation">
		{% if paginator.previous_page %}
		<a href="/page{{ paginator.previous_page }}" class="newer">« Newer Entries</a>
		{% endif %}

		{% if paginator.next_page %}
		<a href="/page{{ paginator.next_page }}" class="older">Older Entries »</a>
		{% endif %}
		<div class="clear"></div>
	</div>
	{% endif %}
</div>

