---
layout: default
---
<div class="article">
    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
    {% if page.subtitle %}<h2>{{ page.subtitle }}</h2>{% endif %}

    <div class="metadata">
        <dl>
            <dt>Published On</dt>
            <dd>{{ page.date | date: "%B %d %Y" }}</dd>
        </dl>

        <dl>
            <dt>Author</dt>
            <dd>
                {% if page.author %}
                    {{ page.author }}
                {% else %}
                    Travis Swicegood
                {% endif %}
            </dd>
        </dl>

        {% for category in page.categories %}
        {% if forloop.first %}
        {% comment %}
            For some reason, if page.categories returns true when empty, so we're
            doing this the hard way.
        {% endcomment %}
        <dl>
            <dt>Tags</dt>
            <dd>
                <ul>
        {% endif %}
                    <li>
                        <a href="/tags/{{ category }}">{{ category }}</a>{% if forloop.last %}{% else %},{% endif %}
                    </li>
        {% if forloop.last %}
                </ul>
            </dd>
        </dl>
        {% endif %}
        {% endfor %}
    </div>

    {{ content }}

    <div id="comments"></div>
    <script type="text/javascript">
        var disqus_identifier = "{{ page.url|escape }}",
            disqus_container_id = 'comments';
        var disqus_developer = 1;
        (function() {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = 'http://travisswicegood.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=travisswicegood">comments powered by Disqus.</a></noscript>
</div>
