---
layout: default
---
<article>
   <header>
    <h2>
        {{ page.title }}
    </h2>
    {% if page.subtitle %}
    <p class="subtitle">
        {{ page.subtitle }}
    </p>
    {% endif %}
    {% if page.hold %}
      <h1 style="color: darkred; font-size: 50px; font-style:italic">draft, not yet published</h1>
    {% else %}
      <p class="date">posted on {{ page.date | date: "%B %d %Y" }}</p>
    {% endif %}

    {% if page.bigimg %}
    <img    src="{{ page.bigimg }}"
            alt="{{ page.title }}"
            class="bigimg homepage" />
    {% elsif page.vimeo %}
    <iframe
        src="http://player.vimeo.com/video/{{ page.vimeo }}"
        width="600"
        height="340"
        class="bigimg homepage"
        frameborder="0"></iframe>
    {% endif %}
  </header>
  {{ content }}
</article>
